@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
    min-width: 400px;
}

/* nav區塊 */
nav {
    min-width: 300px;
}

.right-menu {
    gap: clamp(1rem, 3vw, 3rem);
    text-decoration: none;
}

.right-menu img {
    user-select: none;
    pointer-events: none;
}


/* 通用區塊 */
footer {
    font-family: 'Ariel', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(242, 242, 242);
    padding: 20px 0;
    margin: 36px 0 60px;
    color: rgb(147, 147, 147);
}

footer a {
    text-decoration: underline;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.title-1 {
    font-size: clamp(1.1rem, 5vw, 1.8rem);
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.mw-10 {
    max-width: 10%;
}

.mw-20 {
    max-width: 20%;
}

.mw-30 {
    max-width: 30%;
}

.mw-40 {
    max-width: 40%;
}

.mw-50 {
    max-width: 50%;
}

.mw-60 {
    max-width: 60%;
}

.mw-70 {
    max-width: 70%;
}

.mw-80 {
    max-width: 80%;
}

.mw-85 {
    max-width: 85%;
}

.mw-90 {
    max-width: 90%;
}

.mw-95 {
    max-width: 95%;
}