/* nav區塊 */
#search-bar {
    width: 12vw;
    min-width: 130px;
}

#cate-link {
    width: 20%;
    min-width: 88px;
    font-size: 16px;
}

#abc {
    font-family: "Comic Sans MS", "cwTeXYen";
    margin-right: clamp(1%, 20% - 100px, 18%);
    font-size: clamp(1.3rem, 4vw, 2rem);
    font-weight: 500;
    color: #7904e0;
}

@media (max-width: 460px) {
    #abc {
        display: none;
    }
}

main {
    margin-top: clamp(4rem, 5vw, 7rem);
}


/* 廣告區塊 */
#carousel-items {
    max-height: fit-content;
}

#carousel-inner {
    user-select: none;
}

.ad-container {
    display: flex;
    gap: 28px;
}

.ad-container img {
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 400px;
    pointer-events: none;
    border-radius: 12px;
    border: 4px solid #c9cacb;
}

.carousel-caption {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 48%;
    text-align: left;
    padding: 0;
}

.ad-item-name {
    font-size: min(2.8em, 6.6vw);
    font-weight: bold;
    padding-top: 0px;
}

.ad-item-price {
    font-size: min(1.8em, 4.8vw);
    font-weight: bold;
    color: #ff5722;
}

.ad-item-info {
    color: #6c757d;
    font-style: italic;
    font-family: "cwTeXYen";
    margin-top: clamp(4px, 2vw, 12px);
    margin-right: 1rem;
    font-size: clamp(1rem, 4.5vw, 2rem);
    line-height: 115%;
}

@media (min-width:520px) {
    #carousel-items {
        max-height: 36vh;
    }

    .ad-container img {
        width: auto;
        max-height: 36vh;
    }
}

@media (max-width:768px) {
    .ad-container {
        gap: 10px;
    }

    .ad-item-name {
        margin-bottom: 0;
    }
}




/* 餐點區塊 */
section {
    scroll-margin-top: 60px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em 1.22em;
}

.item {
    border: 3px solid #e9ecef;
    border-radius: 8px;
    max-width: 40%;
    width: 200px;
    margin: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s, border 0.3s;
}

.item:hover {
    transform: translateY(-8px);
    border: 3px solid #939090;
}

.item img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.item .info {
    padding: 0.4rem 0.8rem 0.4rem 0.3rem;
    background-color: #fff;
    border-top: 3px solid #e9ecef;
}

.item-name {
    padding: 0 0 0 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.item-pands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4px;
}

.item-price {
    font-size: 1rem;
}

.star-label {
    font-size: 1.4rem;
    margin-right: 4px;
    color: #f5c72f;
}


/* 餐點詳細區塊 */
#detail-modal {
    margin: 4rem auto 0;
}

.modal-content {
    padding: 12px;
}

#detail-content {
    gap: clamp(0.5rem, 1.8vw, 1rem);
}

.modal-content img {
    margin: 0;
    width: 50%;
    border-radius: 8px;
    border: 4px solid #d7d9da;
}

.detail-name {
    font-size: clamp(1.25rem, 5vw, 1.85rem);
    font-weight: bold;
}

.detail-price {
    font-size: clamp(1.08rem, 3.2vw, 1.75rem);
    color: #ff5722;
}

.detail-rating {
    display: flex;
    align-items: center;
    font-size: 1.08rem;
    margin-bottom: clamp(0.1rem, 2vw, 0.5rem);
}

.detail-info {
    color: #6c757d;
    font-style: italic;
    font-family: "cwTeXYen";
    font-size: clamp(0.82rem, 1.7vw, 1.3rem);
    line-height: clamp(110%, 2.2vw, 145%);
}

#quantity {
    width: 18%;
    min-width: 72px;
}

#comment {
    width: 330px;
    max-width: 98%;
}

#rate-tips-bg,
#cart-tips-bg {
    width: fit-content;
}

.star::after {
    font-family: "cwTeXYen";
    font-size: clamp(20px, 10vw, 40px);
    color: #f5c72f;
    font-weight: 500;
    content: "☆";
}

.star-full::after {
    font-family: "cwTeXYen";
    font-size: clamp(20px, 10vw, 40px);
    color: #f4e727;
    font-weight: 500;
    content: "★";
}

#addcmt {
    margin-left: clamp(0.5rem, 5vw, 3rem);
}

.comment-username {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2px;
}

@media (max-width:600px) {
    #detail-modal {
        margin: 4rem 10vw 0;
    }

    .modal-content img {
        margin: 0;
        width: 48%;
        border-radius: 8px;
    }
}