nav {
    text-align: center;
    justify-items: center;
    margin-bottom: min(8%,52px);
}

#abc {
    font-family: "Comic Sans MS", "cwTeXYen";
    font-size: clamp(1.5rem, 6vw, 2.3rem);
    font-weight: 500;
    color: #7904e0;
}

footer {
    margin-top: 8vh;
}

.container {
    width: fit-content;
}

.mw-303 {
    max-width: 303px;
}

.w-303 {
    width: 303px;
}

#login,
#register {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.tips {
    text-decoration: none;
    color: #6b6c6d;
}

.tips:hover {
    text-decoration: underline;
}

.failed a {
    text-decoration: none;
}